<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://riotstatsservice-functionapp-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f4117a13-172c-403e-99bc-7c84a1c18744/resourceGroups/RiotStatsService-FunctionApp-01/providers/Microsoft.Web/sites/RiotStatsService-FunctionApp-01</ResourceId>
    <UserName>$RiotStatsService-FunctionApp-01</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://riotstatsservice-functionapp-01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>